#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0

/ {
    combos {
        compatible = "zmk,combos";

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <13 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "BASE";
            bindings = <
&kp ESC    &kp F1    &kp F2    &kp F3  &kp F4  &kp F5     &kp F6     &kp F7  &kp F8     &kp F9     &kp F10        &kp F11   &kp F12  &kp DEL  &kp K_MUTE
&kp LCTRL  &kp A     &kp S     &kp D   &kp F   &kp G      &kp H      &kp J   &kp K      &kp L      &kp SEMICOLON  &kp APOS  &kp P    &kp P    &kp P
&kp LSHFT  &kp Z     &kp X     &kp C   &kp V   &kp B      &kp N      &kp M   &kp COMMA  &kp DOT    &kp SLASH      &kp BSLH  &kp P    &kp P    &kp P
&kp LBKT   &kp LALT  &kp RGUI  &kp H   &kp P   &kp SPACE  &kp ENTER  &kp P   &kp P      &kp RALT   &kp RBKT       &kp P     &kp P    &kp P
&kp LBKT   &kp LALT  &kp RGUI  &kp Y   &kp P   &kp SPACE  &kp ENTER  &kp U   &kp P      &kp RALT   &kp RBKT       &kp P     &kp P    &kp P
&kp LBKT   &kp LALT  &kp RGUI                             &kp W              &kp D      &kp SPACE  &kp ENTER      &kp D     &kp V    &kp P
            >;
        };
    };
};
